.page-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 20px;
}

.site-logo {
    width: 300px;
    margin-bottom: -50px;
}

.login-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}
